<mat-card class="card">
  <div class="card-container">
    <mat-card-header class="card-header">
      <mat-card-title class="card-header--title">{{post.title}}</mat-card-title>
      <button class="card-header--button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Post menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onDelete()">
          <mat-icon>delete</mat-icon>
          <span>Delete Post</span>
        </button>
        <button mat-menu-item>
          <mat-icon>update</mat-icon>
          <span>Update Post</span>
        </button>
      </mat-menu>
    </mat-card-header>
    <img mat-card-image [src]="getPhotoUrl()" alt="Post Photo">
    <mat-card-content>
      <p>{{post.body}}</p>
    </mat-card-content>
  </div>
</mat-card>
